public/index.jade
doctype
html(lang='en')
  head
    title= gilliam
    script(type='text/javascript' src='third_party/compendium.js')
    script(type='text/javascript' src='third_party/jquery.js')
    script(type='text/javascript' src='third_party/underscore.js')
    script(type='text/javascript' src='lib/application.js')
    link(rel='stylesheet' href='css/style.css')
  body
    #sofia
      header
        h2 gilliam: visualize text
      #main
        form#a
          input#sentence(type='text' name='sentence')
          input#s(type='submit' value='visualize')
        div#search
        div#loading.
          //- ves
          huh

      footer
        a(href='http://alehander42.me' target='_blank').
          alexander ivanov 2015

index.html
<!DOCTYPE html><html lang="en"><head><title></title><script type="text/javascript" src="third_party/compendium.js"></script><script type="text/javascript" src="third_party/jquery.js"></script><script type="text/javascript" src="third_party/underscore.js"></script><script type="text/javascript" src="lib/application.js"></script><link rel="stylesheet" href="css/style.css"></head><body><div id="sofia"><header><h2>gilliam: visualize text</h2></header><div id="main"><form id="a"><input id="sentence" type="text" name="sentence"><input id="s" type="submit" value="visualize"></form><div id="search"></div><div id="loading">ves
</div></div><footer><a href="http://alehander42.me" target="_blank">alexander ivanov 2015</a></footer></div></body></html>
